@charset "utf-8";
/* CSS Document */

body {
	color:#2196f3;
}
a, a:hover, a:visited {
	color:inherit;
	text-decoration:none;
}

input, textarea {
	color:#2196f3;
	margin-bottom:5px;
	padding:5px;
	border:1px solid #2196f3;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	outline:none;
}
input[type=text] {
	width:80.2%;
}
textarea {
	width:80%;
}
input[type=submit], input[type=reset] {
	background:#ffffff;
	box-shadow: 1px 1px 0px;
	font-weight:bold;
}
input[type=submit]:hover, input[type=reset]:hover {
	background:#f4f4ff;
	box-shadow: 1px 1px 1px;
}
input[type=submit]:active, input[type=reset]:active {
	background:#f4f4ff;
	box-shadow: 1px 1px 1px inset;
}

.error {
	font-weight:bold;
	color:#F00;
}
.success {
	font-weight:bold;
	color:#00F;
}